.main-container {
    max-width: 1240px !important;
}

.main-container > * {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding: 2px;
}

th {
    background-color: orange;
    color: white;
    border: 1px solid white;
}

td {
    color: black;
    border: 1px solid orange;
}

table {
    margin-bottom: 10px;
}